modele_math/.ipynb_checkpoints
rapport_final/Polytechnique_signature-RGB-gauche_FR.png
rapport_final/final.aux
rapport_final/final.fdb_latexmk
rapport_final/final.fls
rapport_final/final.log
rapport_final/final.out
rapport_final/final.synctex.gz
rapport_final/final.toc
rapport_prelab/Polytechnique_signature-RGB-gauche_FR.png
rapport_prelab/prelab.aux
rapport_prelab/prelab.fdb_latexmk
rapport_prelab/prelab.fls
rapport_prelab/prelab.log
rapport_prelab/prelab.out
rapport_prelab/prelab.synctex.gz
rapport_prelab/prelab.toc
